@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
		    font-family: 'NeoDunggeunmo';
		    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;
}
*{font-family: "NeoDunggeunmo", Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}
/* YJ ------------------------------------------------------------ */
*{margin:0; padding: 0;font-family: "NeoDunggeunmo", Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}
button {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

#header{
	height: 80px;
	background : #eee;
	font-size: 40px;
}
.info_area{
	height: 70px;
	margin :30px 0 0 411px;
	position:relative;
	z-index: 8;
	display: flex;
}
#bars{
	height: 28px;
	display: flex;
	align-items: center;
}

.gap{
	margin-right: 38px !important;
}
#character_info{
	width:150px;
	height: 70px;
	background-image: url("/images/egg_info/character_info_bg.png");
	cursor: pointer;
}
#character_nickname{
	width: 100%;
	text-align: center;
	font-size: 15px;
	color: white;
	padding: 16px 16px 0 16px;
	box-sizing: border-box;
	margin-bottom: 14px;
}
#character_type{
	text-align: center;
	font-size: 13px;
	color: #fff;
}
#character_info:hover #stat_hidden {
    opacity: 1;
    visibility: visible;
  }

#stat_hidden{
	opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	width: 150px;
	height: 200px;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: -3%;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.66);
  margin-top: 16px;
  padding:12px;
  box-sizing: border-box;
  color: white;
}
#stat_hidden_level{
	display: flex;
	margin-bottom: 8px;
}
.fc{
	color: #18D0D9 !important;
}
.mg_left{
	margin-left: 4px;
}

#stat_hidden_statArea{
	display: flex;
	justify-content: space-between;
}
.stat_hidden_stTitle{
	margin-top: 10px;
}
.stat_hidden_stats{
	text-align: right;
	display: flex;
}
.main_bg {
	width:100%;
	height: calc(100vh - 80px);
	padding-top:20px;
	box-sizing: border-box;
	background-image: url("/images/egg_main_room/game_back.jpg");
}
.game_main{
	position:relative;
	width:1260px;
	height: 760px;
	margin: 0 auto;
	border: 20px solid #D0D3FE;
	background-image: url("/images/egg_main_room/mainRoom.png");
	border-radius: 40px;
	z-index: 1;
}

/* --- 방꾸미기 --- */
#interior_items{
	position: absolute;
	left: 125px;
  z-index: 2;
	width: 1135px;
	height: 527px;
	margin-top: 27px;
}

.wall_area{
	width: 100%;
	height: 138px;
	margin-bottom: 27px;
}
#photo_frame{
	width: 200px;
	height: 138px;
	margin-left: 906px;	
	background-image: url('/images/egg_test/photo_frame_test.png');
}
.furniture_area{
	width: 100%;
	height: 196px;
	display: flex;
}
#plant{
	width: 400px;
	height: 196px;
	margin-right: 10px;
	background-image: url('/images/egg_test/plant_test.png');
}
#sofa{
	width: 374px;
	height: 196px;
	margin-right: 70px;
	background-image: url('/images/egg_test/sofa_test.png');
}
#shelf{
	width: 281px;
	height: 170px;
	margin-top: 26px;
	background-image: url('/images/egg_test/shelf_test.png');
}
.floor_area{
	width: 100%;
	height: 154px;
	display: flex;
	margin-top: 15px;
}
#carpet{
	width: 234px;
	height: 154px;
	margin-left: 480px;
	background-image: url('/images/egg_test/carpet_test.png');
}
#pet{
	width: 140px;
	height: 140px;
	margin-left: 20px;
	background-image: url('/images/egg_test/pet_test.png');
}

/* --- 캐릭터 --- */
.character_container{
	position: relative;
	width: 170px;
	height: 340px;
	background-image: url('/images/egg_test/character_test.png');
	margin : 222px 106px 10px 984px;
  z-index: 3;
}

.clothing {
  position: absolute;
  width: 124px;
  height: 136px;
  background-size: cover;
}

.dress {
  background-image: url('/images/egg_test/dress_test.png');
  background-size: cover;
  top: 192px;
  left: 18px;
  z-index: 4;
}

.hat {
  background-image: url('/images/egg_test/hat_test.png');
  background-size: cover;
  top: -36px;
  left: -24px;
  width: 229px;
  height: 258px;
  z-index: 5;
}



.menu{
	width:1008px;
	margin:0 auto;
  z-index: 7;
}
.menu td{
	width:158px;
	height:68px;
	margin-right:12px;
	padding : 3px;
	box-sizing: border-box;
}
.menu td img{
	width: 152px;
	height: 62px;
}

/* YJ 끝 ------------------------------------------------------------ */

/* 기본 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 69px;
  width: 100%;
  height: 100%;
/*   background-color: rgb(255, 255, 255, 0.5); */
}

/* 어두운 스타일 모달 */
.dark {
  background-color: rgba(0, 0, 0, 0.66);
  color: white;
/*   box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2); */
  
}

.modal-frame {
  /* padding: 20px; */
  border-radius: 20px;
  width: 1260px;
  height: 760px;
  margin: 50px auto 0;
  /* text-align: center; */
/*   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); */
  position: relative;
}

/* 모달 탑 */
.modal-frame .modal-top {
	margin-left: 411px;
	padding-top: 33px;
	display: flex;
	align-items: center;
}
/* 체력, 스테미너 위치 */
#hpBar {
	margin-right: 13px;
}
#fatigueBar {
	margin-right: 20px;
}
#jellyBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 28px;
	width: 151px;
	border: 1px solid white;
	border-radius: 30px; 
	box-sizing: border-box;
	margin-right: 20px;
}
#jelly, #coin {
	padding: 3px 0 3px 3px;
}
#plus {
	padding: 4px 4px 4px 0;
	cursor: pointer;
}
#jellyBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 28px;
	width: 151px;
	border: 1px solid white;
	border-radius: 30px; 
	box-sizing: border-box;
	margin-right: 20px;
}
#coinBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 28px;
	width: 151px;
	border: 1px solid white;
	border-radius: 30px; 
	box-sizing: border-box;
	margin-right: 85px
}
.modal-frame .modal-top .close {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.modal-frame .modal-top .close_icon {
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}
.close:hover {
  color: black;
}

/* 모달 탑 */

/* 모달 타이틀 */
/* top 60 left 120 button 80 */
.modal-title {
	margin: 60px 0 80px 120px
}
.modal-title h2 {
	margin:0;
	padding:0;
	font-size: 30px;
	font-weight: normal;
}

/* 모달 컨텐트 */
.modal-content {
	display:flex;
	flex-direction: row;
	margin-left: 120px;
}
.modal-item {
	background-color:white;
	border-radius: 15px;
	box-shadow:4px 4px 10px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	margin-right: 20px;
	box-sizing: border-box;
	height: 380px;
	width: 240px;
}
.modal-item:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px 15px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.training_img {
    display: block;
    width: 100%;
    position: relative;
}

.background-image {
    width: 100%;
    height: auto;
}

.training_img_text {
	opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 75px 0 0 85px;
/*     transform: translate(-50%, -50%); */
    color: white;
    text-align: center;
    font-size: 16px;
}

.modal-item:hover .background-image{
	filter: brightness(50%);
}
.modal-item:hover .training_img_text{
	opacity: 1;
	visibility: visible;
}
.training_img_text p{
	margin: 0 0 10px 0;
	justify-content: left;
	display: flex;
}
.training_img_text span{
	margin-left: 10px;
}
.positive{
	color: #18D0D9;
}
.negative{
	color: #FF6868;
}
.training_img_text .coin{
	align-items: center;
	margin-top: 25px;
	color: #FFF600;
	display: flex;
	/* justify-content: space-between; */
}
.price_coin_img{
	margin-right: 10px;
}

.training_text{
	color: black;
	text-align: center;
}
.training_text h2{
	margin: 25px 0 25px;
	font-weight: normal;
}
.training_text p{
	margin:0;
}


/* 퀘스트 */

#quest_layout, #event_layout{
	box-sizing:border-box;
	width: 1260px;
	display: flex;
}


ul { list-style: none;}
a { 
	text-decoration: none;
}

.modal-event, .modal-quest{
	display: flex;
	flex-direction: row;
	margin-left: 60px;
}

.modal-quest-title, .modal-event-title{
	margin: 0 0 78px 60px;
	font-size: 30px;
	font-weight: 300;
}

.quest-title, .event-title {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 250px;
}

.quest-title li, .event-title li{
	width: 250px;
	height: 120px;
	padding: 14px 49px 14px 16px;
	margin-bottom: 20px;
	box-sizing:border-box;
	font-size: 24px;
	line-height: 32px;
	font-weight: 400;
	color: #C8C8C8;
	display: flex; /* Flexbox 적용 */
	align-items: center; /* 세로(Y) 중앙 정렬 */
	transition: background 0.3s ease-in-out, transform 0.2s;
}

.quest-title li:hover, .event-title li:hover {
	background-color: rgb(153, 153, 153, 40%);
	transform: scale(1.03); /* 약간 확대 */
	color: white;
}

/* 선택된 li에 대한 스타일 */
.quest-title li.active, .event-title li.active {
	background-color: rgb(153, 153, 153, 40%);
	color: white; /* 선택된 상태에서 글씨색을 흰색으로 */
	transform: scale(1.03); /* 약간 확대 */
}

.quest-list{
	/*width: 750px;*/
	height: 100%;
	padding-left: 13px;
	margin: 0;
}

#event.quest-list {
	padding: 0;
}

.quest-list li {
	border: 1px solid #fff;
	position: relative;
	width: 720px;
	height: 90px;
	margin-bottom: 14px;
}

.quest_content{
	background-color: #fff;
	border-radius: 0 10px 0 0;
	width: 720px;
	height: 90px;
	position: absolute;
	left: 6px;
	bottom: 6px;
	display: flex;
}

.quest_content_coin{
	width: 117px;
	padding: 14px 24px 8px;
	justify-items: center;
	box-sizing: border-box;
	position: relative;
}

.quest_content_coin img{
	width: 42px;
	height: 42px;
	display: block;
}

.quest_content_ticket{
	display: flex;
	align-items: center;
}


.quest_content_ticket img{
	margin-left: 15px;
	width: 90px;
	height: 90px;
	display: block;
}

.quest_content_ticket span{
	font-size: 20px;
	color: #7F5AFF;
	
}

.quest_content_coin span{
	font-size: 18px;
	color: #7F5AFF;
	display: block;
	padding-top: 5px;
}

.quest_content_coin::after{
	content: "";
	position: absolute;
	right: 0;
	top: 28px;
	height: 34px;
	width: 1px;
	background-color: #D9D9D9;
}

.quest_content_title {
	padding: 10px 36px;
	width: 380px;
}

.quest_content_titsub{
	border-radius: 4px;
	background-color: #D0D3FE;
	color: black;
	width: 119px;
	height: 25px;
	font-size: 13px;
	text-align: center;
	line-height: 25px;
}

.quest_content_tit{
	margin: 10px 0 0 10px;
	color: black;
	font-size: 20px;
}

.quest_content_rate{
	width: 100px;
	height: 42px;
	font-size: 18px;
	color: black;
	border-radius: 10px;
	border: 1px solid #D1D1D1;
	margin-top: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quest_content_rate span{
	font-size: 18px;
	display: inline-block;
	margin: 0px 2px;
}

/* 받기 완료 */
.reward {
	background-color: #D1D1D1;
	color: white;
}

/* 보상 받기*/
.clear {
	background-color: #7F5AFF;
	color: white;
	cursor: pointer;
}

/* 이벤트 */ 

.event_content{
	width: 888px;
	height: 508px;
	margin-left: 5px;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

#eventImage{
	display: block;
	height: 100%;
	width: 100%;
  object-fit: contain;
}

/* 여기부터 상점 */
/* 상점 리스트 */
.shop-list {
	list-style: none;
    padding: 0;
    margin: 0;
}
.shop-list li {
	width: 168px;
	height: 60px;
	padding: 14px 16px;
	box-sizing:border-box;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 14px;
    display: flex; /* Flexbox 적용 */
    /* justify-content: center; 가로(X) 중앙 정렬 */
    align-items: center; /* 세로(Y) 중앙 정렬 */
    text-align: center;
    transition: background 0.3s ease-in-out, transform 0.2s;
    cursor: pointer;
}
.shop{
	margin-left: 60px;
}
.shop-list li:hover {
    background: #999999; /* 연한 배경색 */
    transform: scale(1.03); /* 약간 확대 */
}
.shop-list li.active{
	background: #999999; /* 연한 배경색 */
    transform: scale(1.03); /* 약간 확대 */
}
.shop-items{
	width: 654px;
	height: 418px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}
.shop-item-show{
	display: none;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left:4px;
	width: 153px;
	height: 204px;
	border: 1px solid white;
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
	border-top-right-radius: 15px;
}
.shop-item-show.active {
    border: 3px solid #ffa500; /* 주황색 테두리 */
    transform: scale(1.05); /* 살짝 확대 */
}
.item-info{
	border-top-right-radius: 15px;
	text-align:center;
	background-color: #E4E4E4 ;
	color: black;
	/* box-shadow: 6px 6px 15px rgba(255, 255, 255, 0.3); */
	width: 149px;
	height: 170px;
	display: block;
	display: flex;
    flex-direction: column; /* 세로로 정렬 */
    align-items: center;     /* 중앙 정렬 */
}
.item-info img{
	margin: 18px 0 20px;
	width: 81px;
    height: 102px;
}
.item-info p{
	margin: 4px 0;
}
.item-price p{
	margin: 4px 0 4px 5px;
}
.item-name{
	font-size: 14px;
}
.item-price{
	width: 149px;
	height:30px;
	color: black;
	font-size:16px;
	background-color:#FFFFFF; 
	display: flex;
    justify-content: center;
    align-items: center;     /* 중앙 정렬 */
}

.show-character{
	position: relative;
    top: -25px;
}
.show-character-info{
	margin-left: 86px;
}
.previous{
	margin-right: 120px;
}
.show-item-info {
    display: flex;
    flex-direction: column; /* 세로 배치 */
    gap: 5px; /* 항목 간격 */
    position: relative;
    top: -25px;
}

.show-item-info p {
	margin:0;
    display: flex;
    justify-content: space-between; /* 양쪽 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    width: 100%; /* 부모 요소 전체 너비 */
    padding: 5px 10px; /* 좌우 여백 */
}

.label {
    flex: 1; /* 왼쪽 항목이 유동적으로 조절됨 */
    text-align: left; /* 왼쪽 정렬 */
}

.value {
    flex: 1; /* 오른쪽 항목이 유동적으로 조절됨 */
    text-align: right; /* 오른쪽 정렬 */
}
.apply-button, .save-button {
	margin-top:45px;
	margin-bottom: 15px;
	width: 180px;
	height: 44px;
    background: linear-gradient(45deg, #FDC0FF, #DA57F0);
    border: 1px solid white; /* 테두리 제거 */
    font-size: 20px; /* 폰트 크기 */
    padding: 10px 20px; /* 내부 여백 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 오버 시 손가락 모양 */
    transition: opacity 0.3s ease; /* 부드러운 효과 */
    position: relative;
    top: -38px;
    left: 10px;
}

.apply-button:hover, .save-button:hover {
    opacity: 0.8; /* 마우스 오버 시 투명도 효과 */
}
.all-cancel {
    text-decoration: underline; /* 밑줄 추가 */
    cursor: pointer; /* 마우스 오버 시 클릭 가능한 느낌 */
    position: relative;
    top: -48px;
    left: 64px;
}

.shop-title{
	margin: 24px 0 60px 60px;
}
.my-bag-ne-pr {
	margin-left: 402px;
    width: 300px;            /* 원하는 너비 설정 */
    height: 50px;            /* 높이를 자동으로 설정 */
    position: relative;
    top: -130px;
    left: 64px;
}

.item-ne-pr {
	margin-left: 402px;
    width: 300px;            /* 원하는 너비 설정 */
    height: 50px;            /* 높이를 자동으로 설정 */
    position: relative;
    top: -90px;
    left: 64px;
}
.item-ne-pr span, .my-bag-ne-pr span{
	cursor: pointer;
}
.equipped{
	background-color: #ccc;  /* 기본적으로 회색 */
    cursor: not-allowed;  /* 클릭 불가능한 커서 */
    opacity: 0.5;
    transition: all 0.3s ease;
}
.shop-item-show.active .equipped {
  font-size: 12px;
	color: white;
	background-color: #D467FF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	cursor: pointer;
}
.equipped:hover {
	color: white;
	background-color: #A4A4A4;
}
/* 테스트 div */
#test{
	border: 1px solid black;
	box-sizing:border-box;
	width: 300px;
}


