@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
		    font-family: 'NeoDunggeunmo';
		    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;
}
*{font-family: "NeoDunggeunmo", Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}
body{
	font-family: 'Pretendard-Regular';
	background-color: blue;
}
/* 기본 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.5);
}

/* 어두운 스타일 모달 */
.dark {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  
}

.modal-frame {
  /* padding: 20px; */
  border-radius: 10px;
  width: 1260px;
  height: 760px;
  margin: 50px auto;
  /* text-align: center; */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  position: relative;
}

/* 모달 탑 */
.modal-frame .modal-top {
	margin-left: 411px;
	padding-top: 33px;
	display: flex;
	align-items: center;
}
/* 체력, 스테미너 위치 */
#hpBar {
	margin-right: 13px;
}
#fatigueBar {
	margin-right: 20px;
}
#jellyBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 28px;
	width: 151px;
	border: 1px solid white;
	border-radius: 30px; 
	box-sizing: border-box;
	margin-right: 20px;
}
#jelly, #coin {
	padding: 3px 0 3px 3px;
}
#plus {
	padding: 4px 4px 4px 0;
	cursor: pointer;
}
#jellyBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 28px;
	width: 151px;
	border: 1px solid white;
	border-radius: 30px; 
	box-sizing: border-box;
	margin-right: 20px;
}
#coinBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 28px;
	width: 151px;
	border: 1px solid white;
	border-radius: 30px; 
	box-sizing: border-box;
	margin-right: 85px
}
.modal-frame .modal-top .close {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.modal-frame .modal-top .close_icon {
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}
.close:hover {
  color: black;
}

/* 모달 탑 */

/* 모달 타이틀 */
/* top 60 left 120 button 80 */
.modal-title {
	margin: 60px 0 80px 120px
}
.modal-title h2 {
	margin:0;
	padding:0;
	font-size: 30px;
	font-weight: normal;
}

/* 모달 컨텐트 */
.modal-content {
	display:flex;
	flex-direction: row;
	margin-left: 120px;
}
.modal-item {
	background-color:white;
	border-radius: 15px;
	box-shadow:4px 4px 10px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	margin-right: 20px;
	box-sizing: border-box;
	height: 380px;
	width: 240px;
}
.modal-item:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px 15px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.training_img {
    display: block;
    width: 100%;
    position: relative;
}

.background-image {
    width: 100%;
    height: auto;
}

.training_img_text {
	opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 75px 0 0 85px;
/*     transform: translate(-50%, -50%); */
    color: white;
    text-align: center;
    font-size: 16px;
}

.modal-item:hover .background-image{
	filter: brightness(50%);
}
.modal-item:hover .training_img_text{
	opacity: 1;
	visibility: visible;
}
.training_img_text p{
	margin: 0 0 10px 0;
	justify-content: left;
	display: flex;
}
.training_img_text span{
	margin-left: 10px;
}
.positive{
	color: #18D0D9;
}
.negative{
	color: #FF6868;
}
.training_img_text .coin{
	align-items: center;
	margin-top: 25px;
	color: #FFF600;
	display: flex;
	/* justify-content: space-between; */
}
.price_coin_img{
	margin-right: 10px;
}

.training_text{
	color: black;
	text-align: center;
}
.training_text h2{
	margin: 25px 0 25px;
	font-weight: normal;
}
.training_text p{
	margin:0;
}
