@charset "UTF-8";

.data_input_from{
	margin: 0 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* 테이블 너비 고정 */
    margin: 20px 0;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

label {
    font-weight: bold;
    white-space: nowrap; /* 긴 텍스트가 줄 바뀌지 않도록 */
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}